In [2]:
import pandas
pandas.__version__

'1.4.2'

In [3]:
import numpy as np
import pandas as pd

mydataset = {'sites': ["Google", "Runoob", "Wiki"], 'number': [1, 2, 3]}
myvar = pd.DataFrame(mydataset)

print(myvar)

    sites  number
0  Google       1
1  Runoob       2
2    Wiki       3

In [6]:
import numpy as np
a=np.ones((3,4,5))
a.sum(axis=1)

array([[4., 4., 4., 4., 4.],
       [4., 4., 4., 4., 4.],
       [4., 4., 4., 4., 4.]])

In [7]:
import pandas as pd

a = [1, 2, 3]
myvar = pd.Series(a)
print(myvar)

0    1
1    2
2    3
dtype: int64

In [8]:
import pandas as pd

a = [1, 2, 3]
myvar = pd.Series(a)
print(myvar[1])

2

In [15]:
import pandas as pd

a = ["Google", "Runoob", "Wiki"]
myvar=pd.Series(a,index=["x","y","z"])

print(myvar)

x    Google
y    Runoob
z      Wiki
dtype: object

In [17]:
import pandas as pd

sites={1:"Google",2:"Runoob",3:"Wiki"}
myvar=pd.Series(sites)

print(myvar)

1    Google
2    Runoob
3      Wiki
dtype: object

In [18]:
import pandas as pd

sites = {1: "Google", 2: "Runoob", 3: "Wiki"}
myvar = pd.Series(sites, index = [1, 2])

print(myvar)

1    Google
2    Runoob
dtype: object

In [21]:
import pandas as pd

sites = {1: "Google", 2: "Runoob", 3: "Wiki"}
myvar = pd.Series(sites, index = [1, 2], name="RUNOOB-Series-TEST" )

print(myvar[2])

Runoob

In [26]:
import pandas as pd

data = [['Google',10],['Runoob',12],['Wiki',13]]
df = pd.DataFrame(data,columns=['Site','Age'])

print(df)

     Site  Age
0  Google   10
1  Runoob   12
2    Wiki   13

In [27]:
import pandas as pd

data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)

print (df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [29]:
import pandas as pd

data = { "calories": [420, 380, 390], "duration": [50, 40, 45]}
df = pd.DataFrame(data)

print(df.loc[0])
print(df.loc[1])

calories    420
duration     50
Name: 0, dtype: int64
calories    380
duration     40
Name: 1, dtype: int64

In [31]:
import pandas as pd

data = { "calories": [420, 380, 390], "duration": [50, 40, 45]}
df = pd.DataFrame(data)

print(df.loc[[0,1]])

   calories  duration
0       420        50
1       380        40

In [32]:
import pandas as pd

data = {"calories": [420, 380, 390], "duration": [50, 40, 45]}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [33]:
import pandas as pd

data = {"calories": [420, 380, 390], "duration": [50, 40, 45]}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df.loc[['day1','day2']])

      calories  duration
day1       420        50
day2       380        40

In [35]:
import pandas as pd

df=pd.read_csv('nba.csv')

print(df)

              Name            Team  Number Position   Age Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
..             ...             ...     ...      ...   ...    ...     ...
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0
457            NaN             NaN     NaN      NaN   NaN    NaN     NaN

               College     Salary
0                Texas  7730337.0
1            Marquette  6796117.0
2    Boston University        NaN
3        Georgia State  1148640.0
4                  NaN  5000000.0
..                 ...        ...
453             Butler  2433333.0
454                NaN   900000.0
455                NaN  2900000.0
456             Kansas   947276.0
457                NaN        NaN

[458 rows x 9 columns]

In [36]:
import pandas as pd
   
nme = ["Google", "Runoob", "Taobao", "Wiki"]
st = ["www.google.com", "www.runoob.com", "www.taobao.com", "www.wikipedia.org"]
ag = [90, 40, 80, 98]

dict = {'name': nme, 'site': st, 'age': ag}
     
df = pd.DataFrame(dict)
 
df.to_csv('site.csv')

In [37]:
import pandas as pd

df=pd.read_csv('site.csv')

print(df)

   Unnamed: 0    name               site  age
0           0  Google     www.google.com   90
1           1  Runoob     www.runoob.com   40
2           2  Taobao     www.taobao.com   80
3           3    Wiki  www.wikipedia.org   98

In [38]:
import pandas as pd

df = pd.read_csv('nba.csv')

print(df.head(10))

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
5   Amir Johnson  Boston Celtics    90.0       PF  29.0    6-9   240.0
6  Jordan Mickey  Boston Celtics    55.0       PF  21.0    6-8   235.0
7   Kelly Olynyk  Boston Celtics    41.0        C  25.0    7-0   238.0
8   Terry Rozier  Boston Celtics    12.0       PG  22.0    6-2   190.0
9   Marcus Smart  Boston Celtics    36.0       PG  22.0    6-4   220.0

             College      Salary
0              Texas   7730337.0
1          Marquette   6796117.0
2  Boston University         NaN
3      Georgia State   1148640.0
4                NaN   5000000.0
5                NaN  12000000.0
6                LSU   1170960.0
7            Gonzaga   2165160.0
8         Louisville   1824360.0
9     Oklahoma State   3431040.0

In [40]:
import pandas as pd

df = pd.read_csv('nba.csv')

print(df.head(5))

SyntaxError: invalid syntax (393287537.py, line 5)

In [41]:
import pandas as pd

df = pd.read_csv('nba.csv')

print(df.tail(10))

               Name       Team  Number Position   Age Height  Weight  \
448  Gordon Hayward  Utah Jazz    20.0       SF  26.0    6-8   226.0
449     Rodney Hood  Utah Jazz     5.0       SG  23.0    6-8   206.0
450      Joe Ingles  Utah Jazz     2.0       SF  28.0    6-8   226.0
451   Chris Johnson  Utah Jazz    23.0       SF  26.0    6-6   206.0
452      Trey Lyles  Utah Jazz    41.0       PF  20.0   6-10   234.0
453    Shelvin Mack  Utah Jazz     8.0       PG  26.0    6-3   203.0
454       Raul Neto  Utah Jazz    25.0       PG  24.0    6-1   179.0
455    Tibor Pleiss  Utah Jazz    21.0        C  26.0    7-3   256.0
456     Jeff Withey  Utah Jazz    24.0        C  26.0    7-0   231.0
457             NaN        NaN     NaN      NaN   NaN    NaN     NaN

      College      Salary
448    Butler  15409570.0
449      Duke   1348440.0
450       NaN   2050000.0
451    Dayton    981348.0
452  Kentucky   2239800.0
453    Butler   2433333.0
454       NaN    900000.0
455       NaN   2900000.0
456    Kansas    947276.0
457       NaN         NaN

In [42]:
import pandas as pd

df = pd.read_csv('nba.csv')

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB
None

In [43]:
import pandas as pd

df = pd.read_json('sites.json')
   
print(df.to_string())

     id    name             url  likes
0  A001    菜鸟教程  www.runoob.com     61
1  A002  Google  www.google.com    124
2  A003      淘宝  www.taobao.com     45

In [44]:
import pandas as pd
                                                                                            
s = {"col1":{"row1":1,"row2":2,"row3":3}, "col2":{"row1":"x","row2":"y","row3":"z"}}                                                                                       
df = pd.DataFrame(s)

print(df)

      col1 col2
row1     1    x
row2     2    y
row3     3    z

In [45]:
import pandas as pd

URL = 'https://static.runoob.com/download/sites.json'
df = pd.read_json(URL)

print(df)

     id    name             url  likes
0  A001    菜鸟教程  www.runoob.com     61
1  A002  Google  www.google.com    124
2  A003      淘宝  www.taobao.com     45

In [46]:
import pandas as pd

df=pd.read_json('nested_list.json')

print(df)

          school_name   class  \
0  ABC primary school  Year 1
1  ABC primary school  Year 1
2  ABC primary school  Year 1

                                            students
0  {'id': 'A001', 'name': 'Tom', 'math': 60, 'phy...
1  {'id': 'A002', 'name': 'James', 'math': 89, 'p...
2  {'id': 'A003', 'name': 'Jenny', 'math': 79, 'p...

In [47]:
import pandas as pd
import json

with open('nested_list.json','r') as f:
    data = json.loads(f.read())
df_nested_list = pd.json_normalize(data, record_path =['students'])

print(df_nested_list)

     id   name  math  physics  chemistry
0  A001    Tom    60       66         61
1  A002  James    89       76         51
2  A003  Jenny    79       90         78

In [48]:
import pandas as pd
import json

with open('nested_list.json','r') as f:
    data = json.loads(f.read())
    
df_nested_list = pd.json_normalize(data,record_path =['students'],meta=['school_name', 'class'])

print(df_nested_list)

     id   name  math  physics  chemistry         school_name   class
0  A001    Tom    60       66         61  ABC primary school  Year 1
1  A002  James    89       76         51  ABC primary school  Year 1
2  A003  Jenny    79       90         78  ABC primary school  Year 1

In [49]:
import pandas as pd
import json

with open('nested_mix.json','r') as f:
    data = json.loads(f.read())
   
df = pd.json_normalize(data,record_path =['students'],meta=['class',['info', 'president'],
     ['info', 'contacts', 'tel']])

print(df)

     id   name  math  physics  chemistry   class info.president  \
0  A001    Tom    60       66         61  Year 1    John Kasich
1  A002  James    89       76         51  Year 1    John Kasich
2  A003  Jenny    79       90         78  Year 1    John Kasich

  info.contacts.tel
0         123456789
1         123456789
2         123456789

In [50]:
import pandas as pd
from glom import glom

df = pd.read_json('nested_deep.json')

data = df['students'].apply(lambda row: glom(row, 'grade.math'))

print(data)

0    60
1    89
2    79
Name: students, dtype: int64

In [162]:
import pandas as pd

pf=pd.read_csv('OUTCAR1.txt',skiprows=range(0,859178),nrows=120,sep='\s+',names=['s','p','d','tot'],header=None)

print(pf)

         s      p      d    tot
1    0.013  0.023  1.206  1.242
2    0.015  0.024  1.280  1.319
3    0.014  0.024  1.362  1.400
4    0.019  0.023  1.588  1.629
5    0.013  0.021  1.173  1.207
..     ...    ...    ...    ...
116 -0.018 -0.029 -0.800 -0.847
117 -0.021 -0.024 -1.215 -1.260
118 -0.019 -0.032 -1.174 -1.225
119 -0.024 -0.038 -1.316 -1.378
120 -0.024 -0.039 -1.185 -1.248

[120 rows x 4 columns]

In [5]:
import pandas as pd

pf=pd.read_csv('site.csv',skiprows=range(-2))

print(pf)

   Unnamed: 0    name               site  age
0           0  Google     www.google.com   90
1           1  Runoob     www.runoob.com   40
2           2  Taobao     www.taobao.com   80
3           3    Wiki  www.wikipedia.org   98